html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

canvas{
    touch-action: none;
}

.htmlScreen iframe{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}


/* إعدادات العرض على الموبايل */
@media (max-width: 768px) {
    .htmlScreen iframe {
        height: 812px; /* الارتفاع المناسب لشاشة iPhone X */
        width: 375px;  /* العرض المناسب لشاشة iPhone X */
        border: none;
        border-radius: 40px;
        background: #000000;
    }
}

/* popup modal */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .popup-content button:hover {
    background: #0056b3;
  }